/* top bar */

.top-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 1.5rem;
    padding: 0.3rem;
}

.top-bar .icon {
    width: 1.5rem;
    height: 1.5rem;
}

#toggleSidebar {
    display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #toggleSidebar {
        display: inline-block;
    }
}

/* content container */

.content-container {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    margin: 3rem 2rem;
}

/* header controls */

.header-controls {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/* header controls */

.footer-controls {
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* content */

.content {
    overflow: auto;
    flex: 1;
}

/* section nav */

.section-nav {
    display: flex;
    flex-direction: column;
    width: 17rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    gap: 0.9rem;
    word-break: break-all;
    font-size: 13px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .section-nav {
        position: absolute;
        background: var(--background);
        left: 0;
        top: 2.1rem;
        padding: 1rem;
        width: 100%;
        bottom: 0;
        display: none;
        overflow-y: auto;
    }
    
    .section-nav[data-visible="true"] {
        display: flex;
    }
}

.section-nav-ref {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
}

.section-nav-ref[data-visible="true"] {
    display: flex;
}

.section-list {
    display: flex;
    flex-direction: column;
    background: var(--section-connector) repeat-y;
    gap: 0.7rem;
}

.section-list .empty-connector,
.nestable-section .connector {
    width: 21px;
    height: 26px;
}

.section-list .empty-connector {
    background: var(--section-connector-empty-sec) no-repeat;
}

.nestable-section > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nestable-section .connector {
    background: var(--section-connector-expand) no-repeat;
}

.nestable-section[data-open="true"] .connector {
    background: var(--section-connector-collapse) no-repeat;
}

.nestable-section > .section-list {
    display: none;
}

.nestable-section[data-open="true"] > .section-list {
    display: flex;
}

.nestable-section .section-list {
    margin-left: 21px;
}

/* button */

.button {
    background: var(--button-bg);
    border: 1px solid var(--button-fg);
    color: var(--button-fg);
    font-size: 0.6rem;
    padding: 0.1rem;
}

.button:hover {
    background: var(--button-hover-bg);
}

.button:disabled {
    background: var(--button-bg);
    border: 1px solid var(--button-disabled-fg);
    color: var(--button-disabled-fg);
}

.button:focus {
    border: 1px solid var(--focus-border);
}

/* prev-next buttons */

.prev-next-buttons {
    display: flex;
    flex-direction: row;
}